{% extends 'entrance/steps/base.html' %}

{% block title %}Вступительная работа{% endblock %}

{% block not_passed_after_text %}
    <div class="row {{ entrance_block.step.text_step_is_not_passed|yesno:'mt20,' }} mb20">
        <div class="col-xs-12 col-sm-6">
            <h4>Уровень вступительной работы</h4>
            {% if entrance_block.can_select_entrance_level %}
                {% if entrance_block.selected_entrance_level %}
                    Вы выбрали вступительную работу уровня {{ entrance_block.selected_entrance_level.name }}.
                    <a href="?change_selected_entrance_level=true#entrance-step-{{ entrance_block.step.id }}" >Поменять уровень?</a>
                {% else %}
                    <p>
                        Выберите уровень вступительной работы:
                    </p>
                    <form method="POST" action="{% url 'school:entrance:steps:select_entrance_level' request.school.short_name entrance_block.step.id %}">
                        {% csrf_token %}
                        {{ entrance_block.select_entrance_level_form }}
                        {% if entrance_block.select_entrance_level_form.has_disabled_levels %}
                            <p class="help-block">Некоторые уровни недоступны из-за ограничений по возрасту или поступления без вступительной работы</p>
                        {% endif %}
                        <button type="submit" class="btn btn-primary mt20">Выбрать</button>
                    </form>
                {% endif %}
            {% else %}
                <p>
                    Вам выдана работа уровня {{ entrance_block.level.name }}.
                    {% if not entrance_block.is_at_maximum_level %}
                        Если решите все задачи, можно будет получить задания для следующей параллели.
                    {% endif %}
                </p>
            {% endif %}
        </div>

        {% if not entrance_block.can_select_entrance_level or entrance_block.selected_entrance_level %}
            <div class="col-xs-12 col-sm-6">
                <h4>Статистика {% if entrance_block.can_select_entrance_level %}по&nbsp;задачам уровня {{ entrance_block.selected_entrance_level.name }}{% endif %}</h4>
                {% for stats_entry in entrance_block.task_category_stats %}
                    {% if stats_entry.is_started %}
                        <span class="{{ stats_entry.needs_attention|yesno:'text-danger,' }}">
                            {{ stats_entry.category.title }}:
                            <b>отправлено {{ stats_entry.solved_count }} из {{ stats_entry.total_count }}</b>
                            <br />
                        </span>
                    {% endif %}
                {% endfor %}

                {% if not entrance_block.can_select_entrance_level or entrance_block.selected_entrance_level %}
                    <div class="mt10">
                        <a href="{{ entrance_block.step.exam.get_absolute_url }}" class="btn btn-primary solve-exam-button">Решать задачи</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block passed_after_text %}
    <div class="row {{ entrance_block.step.text_step_is_passed|yesno:'mt20,' }} mb20">
        <div class="col-xs-12 col-sm-6 fs13">
            <h4>Уровень вступительной работы</h4>
            {% if entrance_block.can_select_entrance_level %}
                {% if entrance_block.selected_entrance_level %}
                    Вы выбрали вступительную работу уровня {{ entrance_block.selected_entrance_level.name }}.
                {% else %}
                    Вы не&nbsp;выбрали уровень для вступительной работы. Сейчас вступительная работа закончена.
                {% endif %}
            {% else %}
                <p>
                    Вам выдана работа уровня {{ entrance_block.level.name }}.
                    {% if not entrance_block.is_at_maximum_level %}
                        Если решите все задачи, можно будет получить задания для следующей параллели.
                    {% endif %}
                </p>
            {% endif %}
        </div>

        {% if not entrance_block.can_select_entrance_level or entrance_block.selected_entrance_level %}
            <div class="col-xs-12 col-sm-6 fs13">
                <h4>Статистика</h4>
                {% for stats_entry in entrance_block.task_category_stats %}
                    {% if stats_entry.is_started %}
                        <span class="{{ stats_entry.needs_attention|yesno:'text-danger,' }}">
                            {{ stats_entry.category.title }}:
                            <b>отправлено {{ stats_entry.solved_count }} из {{ stats_entry.total_count }}</b>
                            <br />
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if not entrance_block.can_select_entrance_level or entrance_block.selected_entrance_level %}
        <a href="{{ entrance_block.step.exam.get_absolute_url }}" class="btn btn-success">Посмотреть отправленные решения</a>
    {% endif %}
{% endblock %}
