{% extends "account/centered_panel.html" %}

{% load account %}

{% block title %}Сброс пароля{% endblock %}

{% block panel_title %}
    <i class="fa fa-lock"></i> Сброс пароля
{% endblock %}

{% block text_before_form %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div>
        Мы отправили вам письмо.
        Пожалуйста, <a href="mailto:{{ settings.SISTEMA_CONTACT_US_EMAIL }}?subject=Не приходит письмо со сбросом пароля">свяжитесь с нами</a>,
        если вы не получили письмо в течение нескольких минут.
    </div>
{% endblock %}
