{% extends "account/centered_panel.html" %}

{% load account %}

{% block title %}Сброс пароля{% endblock %}

{% block panel_title %}
    <i class="fa fa-lock"></i> Сброс пароля
{% endblock %}

{% block panel_body %}
    {% with need_form=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block text_before_form %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div>
        Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем письмо для его сброса.
    </div>
{% endblock %}

{% block text_after_form %}
    <div>
        Пожалуйста, <a href="mailto:{{ settings.SISTEMA_CONTACT_US_EMAIL }}?subject=Не могу сбросить пароль">свяжитесь с нами</a>,
        если у вас не получается сбросить пароль.
    </div>
{% endblock %}

{% block panel_footer %}
    <div class="panel-footer clearfix p10 ph15">
        <button type="submit" class="button btn-primary mr10 pull-right">Сбросить мой пароль</button>
    </div>
{% endblock %}
