{% extends "account/centered_form.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block panel_title %}
    <i class="fa fa-lock"></i> {% trans "Password Reset" %}
{% endblock %}

{% block panel_body %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</div>
{% endblock %}

{% block panel_footer %}
    <div>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</div>
    <div class="panel-footer clearfix p10 ph15">
        <button type="submit" class="button btn-primary mr10 pull-right">{% trans 'Reset My Password' %}</button>
    </div>
{% endblock %}
