{% extends "account/centered_panel.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block panel_title %}
    {% if token_fail %}
        <i class="fa fa-warning"></i>{% trans "Bad Token" %}
    {% else %}
        <i class="fa fa-lock"></i>{% trans "Change Password" %}
    {% endif %}
{% endblock %}

{% block panel_body %}
    {%  with need_form=token_fail|yesno:",True" %}
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block panel_footer %}
    {% if not token_fail %}
        <div class="panel-footer clearfix p10 ph15">
            <button type="submit" class="button btn-primary mr10 pull-right">{% trans 'Change password' %}</button>
        </div>
    {% endif %}
{% endblock %}

{% block text_before_form %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</div>
    {% endif %}
{% endblock %}
