{% extends "account/centered_panel.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block panel_title %}
    <i class="fa fa-envelope"></i> {% trans "Verify Your E-mail Address" %}
{% endblock %}

{% block text_before_form %}
    <div>
        Мы отправили вам письмо для подтверждения вашего e-mail.
        Пройдите по ссылке в письме для окончания регистрации.
        Пожалуйста, <a href="mailto:{{ settings.SISTEMA_CONTACT_US_EMAIL }}?subject=Не приходит письмо для подтверждения">свяжитесь с нами</a>,
        если вы не получили письмо в течение нескольких минут.
    </div>
{% endblock %}
