.similar-accounts-container .close-button {
    display: block;
}

.similar-accounts-container .expand-button {
    display: none;
}

.similar-accounts-container.closed .close-button {
    display: none;
}

.similar-accounts-container.closed .expand-button {
    display: block;
}

.similar-accounts-container.closed .accounts {
    display: none;
}
.similar-accounts-container.closed .title {
    display: none;
}
.similar-accounts-container.closed .body {
    display: none;
}