{% extends "account/centered_form.html" %}

{% load i18n %}

{% block title %}{% trans "Login Cancelled" %}{% endblock %}

{% block panel_heading %}

    <div class="panel-heading heading-border bg-white pl30 pt25">
        <div class="panel-title">
            <i class="fa {# TODO icon #}"></i> {% trans "Login Cancelled" %}
        </div>
    </div>

{% url 'account_login' as login_url %}

<div>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</div>

{% endblock %}
