{% extends "account/centered_panel.html" %}

{% load i18n %}

{% block title %}{% trans "Login Cancelled" %}{% endblock %}

{% block panel_title %}
    <i class="fa fa-remove"></i> {% trans "Login Cancelled" %}
{% endblock %}

{% block text_before_form %}

    {% url 'account_login' as login_url %}
    <div>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</div>

{% endblock %}
