{% extends 'staff_layout.html' %}

{% block title %}Тематическая анкета{% endblock %}

{% block topbar_left %}
    <ol class="breadcrumb">
        <li class="crumb-active">
            {{ request.school.name }}
        </li>
        <li class="crumb-trail">
            Тематическая анкета
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="mw800">
            <h3 class="pb10">Кеш тематической анкеты</h3>
            <p>
                После заполнения тематической анкеты мы надолго кешируем уровень вступительной работы, выданной школьнику.
                Если&nbsp;параметры и коэффициенты тематической анкеты не меняются, то и этот уровень не должен меняться.
            </p>
            <p>
                Если вы поменяли параметры тематической анкеты, воспользуйтесь предпросмотром выданных уровней.
                Он посчитает уровни в режиме реального времени. <b>Это может занять десятки секунд.</b>
            </p>
            <p>
                <a href="{% url 'school:topics:preview' request.school.short_name %}" class="btn btn-info">Предпросмотр уровней</a>
            </p>
            <h3 class="pb10 mt50 text-danger-dark">Опасная зона</h3>
            <form method="POST" action="">
                <p class="mb5">
                    <span class="text-danger"><b>Внимание!</b></span> Нажатие на эту кнопку сбросит закешированные
                    уровни вступительной работы, посчитанные по тематической анкете.
                </p>
                <p>
                    Делайте это только в том случае, если вы поменяли параметры тематической анкеты, и хотите пересчитать
                    уровни для школьников.
                </p>
                <button class="btn btn-danger">Сбросить посчитанные уровни</button>
            </form>
        </div>
    </div>
{% endblock %}
