{% extends 'staff_layout.html' %}

{% block title %}Тематическая анкета{% endblock %}

{% block topbar_left %}
    <ol class="breadcrumb">
        <li class="crumb-active">
            {{ request.school.name }}
        </li>
        <li class="crumb-trail">
            Тематическая анкета
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="mw800">
            <h3 class="pb10">Кеш тематической анкеты</h3>
            <p>
                После заполнения тематической анкеты мы надолго кешируем уровень вступительной работы, выданной школьнику.
                Если&nbsp;параметры и коэффициенты тематической анкеты не меняются, то и этот уровень не должен меняться.
            </p>
            <p>
                Если вы поменяли параметры тематической анкеты, воспользуйтесь предпросмотром выданных уровней.
                Он посчитает уровни в режиме реального времени. <b>Это может занять несколько минут.</b>
            </p>
            <p>
                <a href="{% url 'school:topics:preview' request.school.short_name %}" class="btn btn-info">Предпросмотр уровней</a>
            </p>

            <h3 class="pb10 mt50 text-danger-dark">Опасная зона</h3>
            <p class="mb5">
                <span class="text-danger"><b>Внимание!</b></span> Нажатие на эту кнопку сбросит закешированные
                уровни вступительной работы, посчитанные по тематической анкете.
            </p>
            <p>
                Делайте это только в том случае, если вы поменяли параметры тематической анкеты, и хотите пересчитать
                уровни для школьников.
            </p>
            <form method="POST" action="{% url 'school:topics:reset_levels_cache' request.school.short_name %}">
                {% csrf_token %}
                <button class="btn btn-danger">Сбросить посчитанные уровни</button>
                <span class="ml10">Сейчас в кеше {{ cached_levels_count }} посчитанных уровней</span>
            </form>

            <p class="mt30">
                Нажатие на кнопку «Пересчитать уровни» пересчитает и надолго <b>закеширует</b> уровни вступительных работ,
                выданных по итогам тематической анкеты. Нажимайте только если понимаете, что делаете.
                <b>Это может занять несколько минут.</b>
            </p>
            <form method="POST" action="{% url 'school:topics:build_levels_cache' request.school.short_name %}">
                {% csrf_token %}
                <button class="btn btn-danger">Пересчитать уровни</button>
                <span class="ml10">для {{ filled_questionnaire_count }} школьников</span>
            </form>

        </div>
    </div>
{% endblock %}
