{% extends 'user_layout.html' %}

{% load static %}

{% block css %}
{{ block.super }}
{% for q in questions %}
<style>{{ q.question.css|safe }}</style>
{% endfor %}
{% endblock css %}

{% block title %}Проверочные вопросы{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="mw800 center-block mt30">

    <div class="admin-form theme-alert">
      <div class="panel panel-alert heading-border">

        <div class="panel-heading">
          <span class="panel-title">
            <i class="fa fa-comments"></i> Проверочные вопросы
          </span>
        </div>

        <div class="panel-body p25">
          <div class="alert alert-micro alert-default alert-border-left">
            <p class="fs13">
            Здесь вы можете подтвердить свои знания по пунктам, которые вы в тематической анкете проставили как "знаете". Вы должны уметь отвечать на все вопросы.
            </p>
            <p class="fs13">
            Вы можете вернуться к ответу на эти вопросы в любой момент. Все ваши ответы сохраняются. При открытии страницы заново вопросы <b>не</b> будут перегенерированы.
            </p>
            <p class="fs13">
            После ответа на <b>все</b> вопросы нажмите на кнопку «Проверить». Если вы почти на все вопросы ответите правильно, вы получите вступительную работу соответственно вашему уровню. Если что-то не получилось и вы ошиблись, у вас будет попробовать заново на новом наборе вопросов, и при желании исправить тематическую анкету.
            </p>
            <p class="fs13">
            Если вопросы оказались слишком сложными для вас и вы не можете какой-нибудь из них решить, нажмите на кнопку в низу страницы «Вернуться к редактированию тематической анкеты». Там вы сможете исправить тематическую анкету и после получить новый набор проверочных вопросов.
            </p>
          </div>
          <div class="alert alert-micro alert-border-left alert-warning light text-dark">
            <i class="fa fa-info pr10"></i>
            <strong>Внимание!</strong>
            После успешного ответа на проверочные вопросы исправить свои ответы в тематической анкете будет нельзя.
          </div>

          <form method="POST" class="admin-form" action="{% url 'school:topics:finish_smartq' request.school.short_name %}">
            {% csrf_token %}
            {% for q in questions %}
              <div class="row">
                <div class="col-xs-1">
                  <div class="mnw50 fs30 mr15 text-right text-alert">
                    {{ forloop.counter }}
                  </div>
                </div>
                <div class="col-xs-10 mb10">
                  <p class="text-alert fs18 fw600 mt5">
                  {{ q.topic_mapping.scale_in_topic.topic.title }}
                  </p>
                  <p class="text-alert">
                    {% autoescape off %}{{ q.question.html }}{% endautoescape %}
                  </p>
                </div>
              </div>
            {% endfor %}

            <div class="alert alert-micro alert-border-left alert-danger light mt10 mbn">
              <i class="fa fa-info pr10"></i>
              <strong>Внимание!</strong>
              После нажатия на «Проверить» или «Вернуться к редактированию тематической анкеты» исправить свои ответы будет нельзя. Возможно, вам выдадут новые проверочные вопросы.
            </div>
            <div class="panel-footer p25 text-right">
              <button type="submit" name="check" class="button btn-alert">Проверить</button>
              <button type="button" id="return" class="button btn-alert return-button">Вернуться к редактированию тематической анкеты</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
{% for q in questions %}
<script>{{ q.question.js|safe }}</script>
{% endfor %}
<script src="{% static "vendor/admin-forms/js/jquery.validate.min.js" %}"></script>
<script src="{% static "smartq/js/smartq.js" %}"></script>
<script type="text/javascript">
  document.getElementById("return").onclick = function () {
    location.href = "{% url 'school:topics:return_to_correcting' request.school.short_name %}";
  };
</script>
{% endblock %}
